extends ../layout/layout.jade

block content
  .container
    .row
      div( ng-controller = 'MyCtrl' )
        my-scope( scopeat = '{{ ctrlScope }}' )
        //- 这里可以写一个测试 包括字符串和一个方法

block script
  script( src="./js/test.js" )