extends ../layout/layout.jade
block style
  style.
    .text-red {
      margin-bottom: 20px;
      padding: 15px;
      border: 1px solid transparent;
      border-radius: 4px;
      color: #3c763d;
      background-color: #f2dede;
      border-color: ##ebccd1;
    }
    .text-green {
      margin-bottom: 20px;
      padding: 15px;
      border: 1px solid transparent;
      border-radius: 4px;
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }

block content
  .container
    .row
      div( ng-controller="CSSCtrl" )
        p( class="text-{{color}}" ) 测试CSS样式
        button( class="btn btn-default" ng-click="setGreen()" ) {{ sun }}

block script
  script( src="./js/css.js" )